
@media (max-width: 1900px) {

    /*////////////////// home-page///////////////////*/

    header {
        background-size: unset;
    }
    footer {
        background-size: unset;
    }

}

@media (max-width: 1600px) {
    /*////////////////// home-page///////////////////*/
    .book-section {
        justify-content: space-around;
        gap: 400px;
    }

}

@media (max-width: 1400px) {


    /*////////////////header////////////////////////*/

    ul.header-menu-list li a {
        font-size: 15px;
    }
    .header-icon {
        gap: 20px;
    }
    ul.header-menu-list {
        gap: 60px;
    }
    .header-icon-serch {
        max-width: 22px;
    }

    .header-icon-shop {
        max-width: 18px;
    }
    .header-icon {
        gap: 15px;
    }

    ul.header-menu-list {
        gap: 50px;
    }


    /*//////////////////////////footer/////////////////////*/

    .footer-logo {
        max-width: 170px;
    }
    .footer-menu a ,
    a.footer-address,
    .footer-book a{
        font-size: 15px;
    }
    .footer-icons div {
        height: 37px !important;
        max-width: 37px;
    }
    .footer-money-visa {
        max-width: 60px;
    }
    .footer-money-master {
        max-width: 46px;
    }
    .footer-money-telcell {
        max-width: 100px;
    }
    .footer-money-idram {
        max-width: 80px;
    }
    .footer-menu {
        margin-top: 50px;
        row-gap: 20px;
    }
    .footer-menu {
        grid-template-columns: repeat(2,200px);
    }


    /*////////////////// home-page///////////////////*/
    .authors {
        padding-bottom: 50px;
    }
    .book-section {
        gap: 145px;
    }

    .article-section-title h2,
    .authors-section-title h2{
        font-size: 36px;
        line-height: 30px;
    }
    .parent-section {
        gap: 150px;
        justify-content: space-around;
    }

}


@media (max-width: 1200px){

    /*////////////////// home-page///////////////////*/
    .banner-img {
        max-width: 110px;
    }
    .banner-info {
        gap: 130px;
    }
    .color-info-description h2 {
        font-size: 30px;
    }

    .orange-info-img, .purple-info-img {
        max-width: 300px;
    }

    .article-btn {
        padding-bottom: 50px;
    }
    .article-section-title {
        padding: 53px 32px 63px;
    }
    .description-param-group-img {
        width: 100%;
        max-width: 80px;
    }
    .article-boxes {
        justify-content: center;
        flex-wrap: wrap;
    }


    /*/////////////////////footer//////////////////////////*/

    .footer-icons {
        column-gap: 20px;
    }
    .footer-logo {
        max-width: 160px;
    }
    .footer-form-box {
        max-width: 280px;
    }
    .footer-menu {
        grid-template-columns: repeat(2,160px);
    }
    .color-info-description {
        padding-top: 40px;
    }


}

@media (max-width: 1100px){

    .color-info-description h2 {
        font-size: 25px;
    }
    .book-section {
        gap: 130px;
    }

    ul.header-menu-list li a {
        font-size: 14px;
    }
    ul.header-menu-list {
        gap: 40px;
    }

    .color-info-description-after {
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .color-info-description-btn a {
        padding: 12px 28px;
    }
    .color-info-description-translate {
        font-size: 17px;
    }
    .orange-info-img, .purple-info-img {
        max-width: 270px;
    }
}


@media(max-width: 992px){

    /*//////////////////////////////////header//////////////////////////////////////*/

    .header-menu {
        display: none;
        background: #FFFFFF;
        position: absolute;
        height: 100%;
        right: -200px;
    }

    #nav-icon1 {
        display: block;
        z-index: 9;
    }
    .menu-show {
        left: 0;
        z-index: 0;
        top: 0;
        padding-top: 120px;
        width: 100%;
        height: 100vh;
        display: flex;
        max-width: 735px;
    }

    ul.header-menu-list {
        align-items: start;
        flex-direction: column;
        padding-left: 20px;

    }
    .menu-drop-down {
        display: block;
    }

    /*///////////////////////////footer///////////////////////////*/

    .footer-menu {
        grid-template-columns: repeat(2,130px);
        justify-content: center;
    }
    .footer-icons {
        column-gap: 10px;
    }
    .footer-icons div {
        height: 30px !important;
        max-width: 30px;
    }

    .footer-form-box {
        max-width: 285px;
    }

    .footer-money-visa {
        max-width: 55px;
    }
    .footer-money-master {
        max-width: 43px;
    }
    .footer-money-telcell {
        max-width: 90px;
    }
    .footer-money-idram {
        max-width: 75px;
    }
    .footer {
        padding-top: 130px;
        padding-bottom: 43px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 320px);
    }

    .footer-icon-input,
    .footer-price{
        margin: auto;
    }
    .footer-logo {
        margin: auto;
    }
    .footer-book {
        text-align: center;
    }
    /*///////////////////////// index/////////////////////////////*/

    .menu-about-us:hover .menu-drop-down{
        display: block;
        position: unset;
        background: transparent;
        padding: 0;
        box-shadow: none;
        line-height: unset;
    }

    ul.menu-drop-down li a{
        padding-top: 20px;
        line-height: 30px;
        padding-left: 30px;
        display: inline-block;
    }
    .color-info-description h2 {
        font-size: 20px;
        line-height: 33px;
    }
    .color-info-description-after {
        font-size: 15px;
    }
    .color-info-description-age span,
    .color-info-description-word-count span,
    .color-info-description-font-size span {
        font-size: 16px;
    }

    .menu-about-us:hover .menu-drop-down{
        pointer-events: unset;
    }
    .book-section {
        gap: 55px;
    }


    .orange-info-img, .purple-info-img {
        max-width: 200px;
    }

    .color-info-description-btn a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .color-info-description-param {
        margin-top: 35px;
        gap: 30px;
    }
    .description-param-group-img {
        max-width: 65px;
    }

    .banner-info {
        gap: 100px;
    }
    .parent-section {
        gap: 55px;
    }

    .parent-section-img {
        max-width: 200px;
        margin-left: 0px;

    }
    .color-info-description {
        padding-top: 15px;
    }
    .color-info-description-after {
        margin-top: 20px;
    }
    .color-info-description-btn {
        width: 100%;
        max-width: 220px;
        margin-top: 25px;
    }
    .article-section-title h2, .authors-section-title h2 {
        font-size: 30px;
        line-height: 22px;
    }
    .authors-boxes div {
        max-width: 190px;
    }
    .authors-boxes {
        margin: 40px auto;
    }



}

@media(max-width: 768px){
    .banner {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .banner-img {
        max-width: 85px;
    }
    .banner-info {
        gap: 60px;
    }


    .color-info-description-after,
    .color-info-description-translate,
    .color-info-description-age span,
    .color-info-description-word-count span,
    .color-info-description-font-size span{
        font-size: 14px;
    }

    .description-param-group-img {
        max-width: 55px;
    }

    .color-info-description-param {
        margin-top: 25px;
        gap: 15px;
        text-align: center;
    }

    .orange-info-img, .purple-info-img {
        margin-left: 0;
    }
    .book-section {
        gap: 35px;
    }
    .orange-info-img, .purple-info-img {
        max-width: 180px;
    }
    .color-info-description-btn a {
        padding: 9px 15px;
        font-size: 14px;
    }
    .color-info-description-btn {
        max-width: 157px;
        margin-top: 20px;
    }

    .description-param-group p {
        margin-bottom: 17px;
    }
    .color-info-description-after {
        margin-top: 15px;
    }

    .article-section-title h2, .authors-section-title h2 {
        font-size: 20px;
        line-height: 0;
    }
    .article-section-title {
        padding: 48px 32px 48px;
    }
    .articles {
        background-color: #FFFFFF;
        padding-top: 40px;
    }

    .article-boxes {
        margin-top: 40px;
    }

    .article-btn {
        padding-bottom: 40px;
        margin: 40px auto 0;
    }
    .parent {
        padding: 40px 0;
    }
    .parent-section {
        gap: 35px;
    }
    .color-info-description-word-count p, .color-info-description-font-size p, .color-info-description-age p {
        margin-bottom: 20px;
    }
    .authors-boxes {
        margin: 30px auto;
    }

    .authors-section-title {
        padding: 50px 32px 50px;
    }

    .authors {
        padding-bottom: 0;
    }

   /*//////////////////////////////footer///////////////////*/
    .footer-money {
        margin-top:40px;
    }
    .footer-menu {
        margin-top: 40px;
    }
    .footer-icons {
        margin-top: 40px;
    }
    .menu-show {
        max-width: 70%;
    }
    .footer-newmag p {
        font-size: 14px;
    }
}


@media (max-width: 576px) {
    .book-section {
        flex-direction: column !important;
    }
    .orange-info-img, .purple-info-img {
        margin: auto;
    }
    .color-info-description {
        padding-top: 15px;
    }
    .parent-section {
        flex-direction: column;
    }
    .banner-info {
        gap: 30px;
    }
    .banner-img {
        max-width: 70px;
    }
    #nav-icon1 span {
        height: 2px;
    }
    #nav-icon1 span:nth-child(3) {
        top: 19px;
    }
    #nav-icon1 span:nth-child(2) {
        top: 9px;
    }
}

@media (max-width: 400px) {

    .color-info-description h2 {
        font-size: 16px;
        line-height: 23px;
    }
    .description-param-group p,
    .color-info-description-word-count p,
    .color-info-description-font-size p,
    .color-info-description-age p,
    .color-info-description-after,
    .color-info-description-translate,
    .color-info-description-age span,
    .color-info-description-word-count span,
    .color-info-description-font-size span {
        font-size: 13px;
    }
    .color-info-description-param {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        row-gap: 20px;
        text-align: left;

    }

    .color-info-description-btn {
        max-width: 100%;
    }
    .color-info-description-btn a {
        width: 100%;
        max-width: 100%;
    }

}
@media (max-width: 320px) {
    /*.color-info-description-param {*/
    /*    grid-template-columns: repeat(1, 1fr);*/

    /*}*/
}
